* {
  margin: 0;
  padding: 0;
}

body {
  color: orange;
  line-height: 1.5;
}

#bgimage {
  /* SIZING */
  background-image: url('/img/bgimg.jpeg');
  width: 100vw;
  height: 100vh;

  /* POSITIONING */
  background-size: cover;
  background-position: center;

  /* Content Positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bgimage .action {
  color: orange;
  text-decoration: none;
  padding: 0.3rem 0.4rem;
  border: solid orange 1px;
  border-radius: 0.5rem;
  margin-top: 0.7rem;
}

#bgimage .action:hover {
  background-color: orange;
  color: rgba(255, 255, 255, 1);
}

.section-a {
  background-color: red;
}
